window {
  background: linear-gradient(to bottom, black, black, #333333);
  color: white;
}

.thumbnail {
  box-shadow: inset 0 0 0 1px alpha(white, .1);
  background-color: black;
  background-image: radial-gradient(circle at top, alpha(white, .2), transparent);
  -gtk-icon-size: 48px;
  min-width: 200px;
  min-height: 150px;
  -gtk-icon-shadow: 0 3px 3px black;
  transition: box-shadow 150ms ease, transform 150ms ease;
}

.thumbnail:hover {
  box-shadow: inset 0 0 0 1px alpha(white, .1), 0 0 5px @blue_3;
}

.thumbnail:active {
  transform: scale(.98);
}

.thumbnail.filled {
  color: transparent;
  background: white;
  -gtk-icon-shadow: none;
}
